openapi: 3.0.4
info:
  title: AeroDataBox API
  description: "**AeroDataBox API** is an enthusiast-driven cost-effective aviation and flight data API tailored for small and medium businesses, individual developers, researchers, and students. It offers a wide range of data, including flight status, schedules, aircraft information, airport details, statistics, historical data, and more. Designed for seamless integration using REST and web hooks and available through major API marketplaces, it enables users to incorporate aviation information effortlessly into their systems at affordable rates.\n\n## Introduction\n\n### Sign Up\nSign up through one of the supported API marketplaces, each offering various pricing models to suit your specific needs.\n- [API.Market](https://apimarket.aerodatabox.com/) - the widest selection of plans, best for single-tier use\n- [RapidAPI](https://rapid.aerodatabox.com/) - most tried & tested\n\n### Pricing\nCalls to endpoints are not priced equally!\nNote the **TIER #** marking next to the name of each endpoint and review [our pricing](https://aerodatabox.com/pricing) per each tier depending on the marketplace.\n\n### Subscribe to Updates\n\nVisit our [web-site](https://aerodatabox.com) and join our newsletter to stay in the loop. \nRecent updates can be found on the [News & Updates](https://aerodatabox.com/news) page.\n\n### Reading\n* **⚠️ [Terms of Use](https://aerodatabox.com/terms) &lt;- BY SUBSCRIBING TO THE API YOU AUTOMATICALLY ACCEPT THESE TERMS**\n* **⚠️ [Pricing](https://aerodatabox.com/pricing)  &lt;- CALLS ARE NOT PRICED EQUALLY**\n* **⚠️ [Data Coverage](https://aerodatabox.com/data-coverage) &lt;- BE AWARE OF OUR LIMITATIONS**\n* [Documentation & OpenAPI Specification](https://doc.aerodatabox.com/ )\n* [FAQ](https://aerodatabox.com/faq)\n* [For Students & Researchers](https://aerodatabox.com/students)\n* [Machine Learning-Based Realistic Flight Time Calculation](https://aerodatabox.com/ml-flight-time/)\n* [Airport Delays](https://aerodatabox.com/api-airport-delays/)\n* [Runway detection](https://aerodatabox.com/flight-take-off-and-landing-time-runway-detection-based-on-ads-b-data-more-flights-and-status-updates/)\n* [FAA LADD](https://aerodatabox.com/faa-ladd)\n\n### API Supported Response Formats\n* JSON (default, `Accept: application/json`)\n* XML (`Accept: application/xml`)"
  termsOfService: https://aerodatabox.com/terms/
  contact:
    url: https://aerodatabox.com/contact/
  version: 1.13.0.0
servers:
  - url: https://prod.api.market/api/v1/aedbx/aerodatabox
    description: API.Market Gateway
paths:
  '/aircrafts/{searchBy}/{searchParam}':
    get:
      tags:
        - Aircraft API
      summary: 'Single aircraft (by tail-number, Mode-S or ID) / TIER 1'
      description: '*Returns:* Single aircraft, *best* matching specified search criteria, if found. Please note that all found aircraft will be impersonated with registration information matching the requested tail number or Mode-S even though an aircraft might be flying under a different registration right now.'
      operationId: GetAircraft
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search aircraft by
          schema:
            $ref: '#/components/schemas/AircraftSearchByEnum'
        - name: searchParam
          in: path
          description: "Value of the search criteria. If `searchBy` is: \n* `id`: then this field should be an ID of an aircraft (as specified in the database of this API);\n* `reg`: then this field should be a tail-number of an aircraft (with or without spaces or dashes, any case formats are acceptable, e.g.PH-BXO, DeMhJ), multiple matches are possible - see below;\n* `icao24`, then this field should be a ICAO 24-bit Mode-S address of an aircraft specified in hexadecimal format (e.g. 484161, 483EFD), multiple matches are possible - see below.\n\n*If multiple matches are possible:*\n\nThere cannot be more than one aircraft actively flying with the same tail-number or ICAO 24-bit Mode-S address at any moment of time. \nHowever, historically aircraft tail-numbers or addresses may be used multiple times by different aircraft.\nThis endpoint is supposed to return a **single** aircraft data. In case if multiple aircraft satisfy the search criteria, the best match will be chosen as follows:\n* If an active aircraft is found according to the requested critera, it is returned.\n* Otherwise, an aircraft that used requested tail-number/address the most recently is returned. \n* If usage time may not be determined, the aircraft stored in the database the most recently is returned."
          required: true
          schema:
            maxLength: 10
            type: string
        - name: withImage
          in: query
          description: 'Should include aircraft image (default: false).'
          schema:
            type: boolean
            default: false
        - name: withRegistrations
          in: query
          description: 'Should include the history of aircraft registrations (default: false).'
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/AircraftContract'
      x-badges:
        - name: TIER 1
          position: before
          color: '#beffe6'
  '/aircrafts/{searchBy}/{searchParam}/registrations':
    get:
      tags:
        - Aircraft API
      summary: 'Single aircraft registration history (by tail-number, Mode-S or ID) / TIER 1'
      description: '*Returns:* A list of all known registrations of a single aircraft, *best* matching specified search criteria, if found'
      operationId: GetAircraftRegistrations
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search aircraft by
          schema:
            $ref: '#/components/schemas/AircraftSearchByEnum'
        - name: searchParam
          in: path
          description: "Value of the search criteria. If `searchBy` is: \n* `id`, then this field should be an ID of an aircraft (as specified in the database of this API);\n* `reg`, then this field should be a tail-number of an aircraft (with or without spaces or dashes, any case formats are acceptable, e.g.PH-BXO, DeMhJ), multiple matches are possible - see below;\n* `icao24`, then this field should be a ICAO 24-bit Mode-S address of an aircraft specified in hexadecimal format (e.g. 484161, 483EFD), multiple matches are possible - see below.\n\n*If multiple matches are possible:* see similar remark to `Single aircraft` endpoint."
          required: true
          schema:
            maxLength: 10
            type: string
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AircraftRegistrationContract'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AircraftRegistrationContract'
      x-badges:
        - name: TIER 1
          position: before
          color: '#beffe6'
  '/aircrafts/{searchBy}/{searchParam}/all':
    get:
      tags:
        - Aircraft API
      summary: 'Aircraft by tail-number, Mode-S or ID / TIER 1'
      description: '*Returns:* A list of all aircraft ever matched the requested criteria. Please note that all found aircraft will be impersonated with registration information matching the requested tail number or Mode-S even though an aircraft might be flying under a different registration right now.'
      operationId: GetAllAircraft
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search aircraft by
          schema:
            $ref: '#/components/schemas/AircraftSearchByEnum'
        - name: searchParam
          in: path
          description: "Value of the search criteria. If `searchBy` is: \n* `id`, then this field should be an ID of an aircraft (as specified in the database of this API);\n* `reg`, then this field should be a tail-number of an aircraft (with or without spaces or dashes, any case formats are acceptable, e.g.PH-BXO, DeMhJ);\n* `icao24`, then this field should be a ICAO 24-bit Mode-S address of an aircraft specified in hexadecimal format (e.g. 484161, 483EFD)."
          required: true
          schema:
            maxLength: 10
            type: string
        - name: withImage
          in: query
          description: 'Should include aircraft image (default: false).'
          schema:
            type: boolean
            default: false
        - name: withRegistrations
          in: query
          description: 'Should include the history of aircraft registrations (default: false).'
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AircraftContract'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AircraftContract'
      x-badges:
        - name: TIER 1
          position: before
          color: '#beffe6'
  '/airlines/{airlineCode}/aircrafts':
    get:
      tags:
        - Aircraft API
      summary: Airline fleet / Aircraft list by airline code (BETA) / TIER 3
      description: "*Returns:* A paged list of aircraft in the fleet of the specified airline. \n\nThat will include *active* aircraft currently flying in an *active* airline, verfified through more than one source.\nUnconfirmed sightings of an aircraft will not qualify said aircraft to be listed in the fleet."
      operationId: GetAirlineFleet
      parameters:
        - name: airlineCode
          in: path
          description: "3-character ICAO-code of the airliner (e.g., KLM, ACA); or\n2-character IATA-code of the airline (e.g., KL, AC).\n            \nPlease note that more than one active airline may have the same IATA code, therefore IATA codes are not recommended for this endpoint."
          required: true
          schema:
            maxLength: 3
            minLength: 2
            type: string
        - name: pageSize
          in: query
          description: "The number of returned records will be capped at this value.\nMust be a positive value and not exceed the limit stipulated by your pricing plan."
          required: true
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
        - name: pageOffset
          in: query
          description: The number of records to skip before listing a page of records. In conjunction with `pageSize` effectively determines the page number (default  - 0).
          schema:
            maximum: 2147483647
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: withRegistrations
          in: query
          description: 'Should include the history of aircraft registrations (default: false).'
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftContractPagedCollectionContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/AircraftContractPagedCollectionContract'
      x-badges:
        - name: TIER 3
          position: before
          color: '#ffb694'
  '/aircrafts/reg/{reg}/image/beta':
    get:
      tags:
        - Aircraft API
      summary: Aircraft image by tail-number / TIER 2
      description: "**What is the aircraft photo?**\n\nAircraft images are being searched in external sources by certain criteria without any manual intervention. \nTherefore, false matches may be returned. Only images with licenses approved for commercial use are returned. Please be advised that you may be required to mention author attribution before using the image.\n\n*Returns:* Image data with medium-sized direct image URL and licence approved for commercial use\nis returned."
      operationId: GetAircraftImageByRegistration
      parameters:
        - name: reg
          in: path
          description: 'Tail-number of the aircraft (full, stripped and any case formats are acceptable).'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResourceContract'
      x-badges:
        - name: TIER 2
          position: before
          color: '#aab6f8'
  /aircrafts/search/term:
    get:
      tags:
        - Aircraft API
      summary: Search active aircraft tail numbers by term / TIER 2
      description: '*Returns:* List of active aircraft registrations with tail numbers starting from the term.'
      operationId: SearchAircraftByTerm
      parameters:
        - name: q
          in: query
          description: Search term (min. 4 non whitespace characters length)
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'Maximum number of items to be returned (max. 10, defaut = 5)'
          schema:
            type: integer
            format: int32
            default: 5
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAircraftContractSearchResultCollectionContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/StringAircraftContractSearchResultCollectionContract'
      x-badges:
        - name: TIER 2
          position: before
          color: '#aab6f8'
  '/airports/{codeType}/{code}':
    get:
      tags:
        - Airport API
      summary: Airport by code / TIER 1
      description: "At the moment airports having both ICAO and IATA code are present in database only.\n\n*Returns*: Single airport data, if found."
      operationId: GetAirport
      parameters:
        - name: codeType
          in: path
          description: Type of code to search airport by (`iata` or `icao`)
          schema:
            $ref: '#/components/schemas/AirportCodesByEnum'
        - name: code
          in: path
          description: "If `codeType` is:\n* `icao`, then this field must be a 4-character ICAO-code of the airport (e.g.: EHAM, KLAX, UUEE, etc.);\n* `iata`, then this field must be a 3-character IATA-code of the airport (e.g.: AMS, SFO, LAX, etc.).\n\nFull, stripped and any case formats are acceptable."
          required: true
          schema:
            maxLength: 4
            minLength: 3
            type: string
        - name: withRunways
          in: query
          description: Include runways data (default - false)
          schema:
            type: boolean
            default: false
        - name: withTime
          in: query
          description: Include current local time (default - false)
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirportContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/AirportContract'
      x-badges:
        - name: TIER 1
          position: before
          color: '#beffe6'
  '/airports/{codeType}/{code}/runways':
    get:
      tags:
        - Airport API
      summary: Airport runways / TIER 1
      description: "**Which runways does this airport have?**\n\nAt the moment airports having both ICAO and IATA code are present in database only.\n\n*Returns*: Collection of runway data items."
      operationId: GetAirportRunways
      parameters:
        - name: codeType
          in: path
          description: Type of code to search airport by (`iata` or `icao`)
          schema:
            $ref: '#/components/schemas/AirportCodesByEnum'
        - name: code
          in: path
          description: "If `codeType` is:\n* `icao`, then this field must be a 4-character ICAO-code of the airport (e.g.: EHAM, KLAX, UUEE, etc.);\n* `iata`, then this field must be a 3-character IATA-code of the airport (e.g.: AMS, SFO, LAX, etc.).\n\nFull, stripped and any case formats are acceptable."
          required: true
          schema:
            maxLength: 4
            minLength: 3
            type: string
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RunwayContract'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RunwayContract'
      x-badges:
        - name: TIER 1
          position: before
          color: '#beffe6'
  /airports/search/location:
    get:
      tags:
        - Airport API
      summary: Search airports by location / TIER 2
      description: "**What are the airports closest to the location?**\n\nAt the moment airports having both ICAO and IATA code and flight schedules are present available only.\n\n*Returns:* A list of airports found within the specified radius around the specified location."
      operationId: SearchAirportsByLocation
      parameters:
        - name: lat
          in: query
          description: Latitude location coordinate in decimal format (between -90 and 90)
          required: true
          schema:
            type: number
            format: float
        - name: lon
          in: query
          description: Longitude location coordinate in decimal format (between -180 and 180)
          required: true
          schema:
            type: number
            format: float
        - name: radiusKm
          in: query
          description: Radius of search around specified location in kilometers (max. 1000 km)
          required: true
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: Maximum number of airports to be returned (max. 250)
          required: true
          schema:
            type: integer
            format: int32
        - name: withFlightInfoOnly
          in: query
          description: 'If set to true, will only return airports which have flight data (scheduled or live) available. Default = false.'
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoCoordinatesContractListingAirportContractSearchResultCollectionContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/GeoCoordinatesContractListingAirportContractSearchResultCollectionContract'
      x-badges:
        - name: TIER 2
          position: before
          color: '#aab6f8'
  /airports/search/ip:
    get:
      tags:
        - Airport API
      summary: Search airports by IP address geolocation / TIER 2
      description: "**What are the airports closest to the customer, based on their IP address?**\n**What are the airports closest to the location determined (geo-located) by a IP address?**\n\nThis endpoint determines the location by the IP address provided and then returns the list of the nearest airports\nin the same way as `Search airports by location` endpoint does. \n\nPlease note:\n* IP geo-location is not a precise method and it determines an approximate location only.\n* At the moment airports having both ICAO and IATA code and flight schedules are present available only.\n\n*Returns:* A list of airports found within the specified radius around the location approximated (geo-located) from the specified IP address."
      operationId: SearchAirportsByIpGeoLocation
      parameters:
        - name: q
          in: query
          description: A valid public IP v4 address
          required: true
          schema:
            type: string
        - name: radiusKm
          in: query
          description: Radius of search around specified location in kilometers (max. 1000 km)
          required: true
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: Maximum number of airports to be returned (max. 250)
          required: true
          schema:
            type: integer
            format: int32
        - name: withFlightInfoOnly
          in: query
          description: 'If set to true, will only return airports which have flight data (scheduled or live) available. Default = false.'
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoCoordinatesContractListingAirportContractSearchResultCollectionContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/GeoCoordinatesContractListingAirportContractSearchResultCollectionContract'
      x-badges:
        - name: TIER 2
          position: before
          color: '#aab6f8'
  /airports/search/term:
    get:
      tags:
        - Airport API
      summary: Search airports by free text / TIER 2
      description: "At the moment airports having both ICAO and IATA code and flight schedules are present available only.\n\n*Returns:* List of airports with names and city names (and IATA/ICAO code, if enabled) matching the search term."
      operationId: SearchAirportByTerm
      parameters:
        - name: q
          in: query
          description: Search query (min. 3 non whitespace characters length)
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'Maximum number of airports to be returned (max. 250, defaut = 10)'
          schema:
            type: integer
            format: int32
            default: 10
        - name: withFlightInfoOnly
          in: query
          description: 'If set to true, will only return airports which have flight data (scheduled or live) available. Default = false.'
          schema:
            type: boolean
            default: false
        - name: withSearchByCode
          in: query
          description: "If set to true, will attempt to interpret short words within the search query as IATA or ICAO code\nand prioritize exact matches by these codes (they will appear higher than others). \nOtherwise, the search by code will be completely excluded (only the name of an airport or its city will be searched). \nDefault = true."
          schema:
            type: boolean
            default: true
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringListingAirportContractSearchResultCollectionContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/StringListingAirportContractSearchResultCollectionContract'
      x-badges:
        - name: TIER 2
          position: before
          color: '#aab6f8'
  '/subscriptions/webhook/{subjectType}/{subjectId}':
    post:
      tags:
        - Flight Alert API
      summary: Create web-hook subscription / TIER 4
      description: "*This endpoitns is a part of Flight alert PUSH API currently powered by webhooks.  \nIf you are running your own web service, you can subscribe to flights by number or airport code. \nAfter that, your HTTP endpoint will be called (notified) whenever the flight information gets \nupdated.*\n\nCreates a web-hook subscription on a subject (e.g., flight alerts by number or by airport code).\nReturns information about created subscription. Subscription ID contained in it\ncan be used to refresh or remove it.\n\nEvery time a subject gets updated, a HTTP request will be sent to\nthe URL specified in `url` parameter. Request will be of a POST type \nand contain JSON-formatted `FlightNotificationContract` object containing subscription\nand flights information in  the body (see example response for status code 199\nof this endpoint documentation).\n\nAll flight alerts / notifications are delivered in best-effort manner. They might be missing\nor delayed. If there was an error delivering a notification for any reason, for example, your\nendpoint was not available, returned non-2xx status code, or did not respond within timeout period,\nthere will be 2 more retries after 5 and 15 minutes (**this behavior is changing, see below**).\n\nIf subscribed to a specific flight or to flights operated in a specific airport:\n* Ensure that the flight is within the live updates / ADS-B data coverage. There is no sense in subscribing to a flight which operates in airports having poor or  no live updates or ADS-B coverage: there simply will be no updates. To check if an airport is tracked and on which level, use `/health/services/airports/{icao}/feeds` endpoint. You can also use `/health/services/feeds/{service}/airports` to get the list of covered airports. Read more about coverage here: https://www.aerodatabox.com/data-coverage.\n* Notifications will cover updates for flights commencing from 6 hours ago up to 72 hours in future.\n* Among these, notifications will contain only those flight items which were actually updated this time.\n\n** ! WARNING OF THE UPCOMING BREAKING CHANGES ! **\n\nWE ARE CHANGING HOW WEB-HOOK SUBSCRIPTION BILLING AND NOTIFICATION RETRY IS HANDLED. \n\nIf you're already using Flight Alert API you need to adjust your code to prevent service interruption.\n\n**CURRENT BEHAVIOR (BEING PHASED OUT):**\n\n* Web-hook subscriptions created using this endpoint have a life-time of 7 days. Expiration date-time is provided in the response to this endpoint. \n* After that expiration date the subscription will be removed automatically. If you want to prevent expiration and extend the subscription, use `PATCH /webhook/{subscriptionId}/refresh` endpoint to refresh the subscription. You may also remove the subscription manually using DELETE `webhook/{subscriptionId}`.\n* As long as a web-hook subscription is active, you will receive notifications if there are any.\n* You are billed for every call when you create or refresh a subscription as per Tier 4 API quota.\n* You are **not** billed for the amount of notifications generated or delivered to you.\n* You may **not** be refunded for unused time on your subscription if you remove it manually before expiration or if there were no notifications.\n* Each failed notification delivery attempt is retried 2 times by default, regardless of the reason of failure.\n\n**UPCOMING BEHAVIOR:**\n\n* Web-hook subscriptions no longer expire, unless you remove them manually.\n* This endpoint is moved to the Free Tier and both creating and refreshing subscriptions will be free of charge.\n* Every API consumer will now have a dedicated flight alert credit balance separate from the API quota. \n* Credits are deducted from your balance each time an alert notification is sent to your webhook. The cost is 1 credit per flight item in the notification. If a notification contains 1 flight, it costs 1 credit. If a notification contains 5 flights (common with airport subscriptions), it costs 5 credits.\n* Use caution when subscribing to an airport with a lot of traffic, as it may drain your balance quickly.\n* As soon as your balance reaches zero, all your web-hook subscriptions will pause and no notifications will be sent until you refill your balance.The balance is shared among all web-hook subscriptions created by you.\n* To refill the balance, refer to `POST /subscriptions/balance/refill` API endpoint.\n* To check the balance, refer to `GET /subscriptions/balance` endpoint.\n* `PATCH /webhook/{subscriptionId}/refresh` is now deprecated will be removed after the transition period. Pricing Tier 4 will be discontinued too.\n* Each failed notification delivery attempt is not retried by default, unless you explicitly set amount of retries when creating the subscription using `maxDeliveryRetries` parameter in the request body.\n* Each retry attempt costs the same amount of credits as the original notification delivery attempt.\n\n**WHEN THE CHANGE WILL HAPPEN?**\n\n* Transition period will end on **the 4th of April, 2026**. Both systems will co-exist during the transition period until then. After that date only the credit-based billing system will remain operational. \n\n**MIGRATION GUIDE / LEARN MORE**\n\nRead our guide at https://aerodatabox.com/flight-alert-api-2026/"
      operationId: SubscribeWebhook
      parameters:
        - name: subjectType
          in: path
          description: Subject type
          schema:
            $ref: '#/components/schemas/SubscriptionSubjectType'
        - name: subjectId
          in: path
          description: "Subject ID. If `subjectType` is: \n* `FlightByNumber`, then this field must be a flight number (with or without spaces, IATA or ICAO, any case formats are acceptable, e.g. KL1395, Klm 1395);\n* `FlightByAirportIcao`, then this field must be a 4-character ICAO-code of the airport where flights are operated (e.g.: EHAM, KLAX, UUEE, etc.);"
          required: true
          schema:
            type: string
        - name: useCredits
          in: query
          description: "THIS IS A TEMPORARY MIGRATION PARAMETER FOR EASIER TRANSITION. \nDefault value: false.\nSet to true to create a web-hook subscription under the new, credit-based billing model.In this case, the call will be free of charge despite Tier 4.\nAfter transition this parameter will be ignored as all subscriptions will be created as credit-based and you will be able to remove it."
          schema:
            type: boolean
            default: false
      requestBody:
        description: Command containing parameters for web-hook subscription creation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebHookSubscription'
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/SubscriptionContract'
        '199':
          description: Information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightNotificationContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/FlightNotificationContract'
      x-badges:
        - name: TIER 4
          position: before
          color: '#8a8eb2'
  '/subscriptions/webhook/{subscriptionId}':
    get:
      tags:
        - Flight Alert API
      summary: Get web-hook subscription / FREE TIER
      description: "*This endpoint is a part of Flight alert PUSH API currently powered by webhooks.  \nIf you are running your own web service, you can subscribe to flights by number or airport code. \nAfter that, your HTTP endpoint will be called (notified) whenever the flight information gets \nupdated.*\n\nGets information about an existing active web-hook subscription."
      operationId: GetWebhook
      parameters:
        - name: subscriptionId
          in: path
          description: Subscription ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/SubscriptionContract'
      x-badges:
        - name: FREE TIER
          position: before
          color: '#ccc'
    delete:
      tags:
        - Flight Alert API
      summary: Remove web-hook subscription / FREE TIER
      description: "*This endpoitns is a part of Flight alert PUSH API currently powered by webhooks.  \nIf you are running your own web service, you can subscribe to flights by number or airport code. \nAfter that, your HTTP endpoint will be called (notified) whenever the flight information gets \nupdated.*\n\nRemoves the subscription"
      operationId: UnsubscribeWebhook
      parameters:
        - name: subscriptionId
          in: path
          description: Subscription ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
      x-badges:
        - name: FREE TIER
          position: before
          color: '#ccc'
  /subscriptions/webhook:
    get:
      tags:
        - Flight Alert API
      summary: List web-hook subscriptions / FREE TIER
      description: "*This endpoitns is a part of Flight alert PUSH API currently powered by webhooks.  \nIf you are running your own web service, you can subscribe to flights by number or airport code. \nAfter that, your HTTP endpoint will be called (notified) whenever the flight information gets \nupdated.*\n\nGet the list of existing active web-hook subscriptions"
      operationId: GetWebhookList
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionContract'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionContract'
      x-badges:
        - name: FREE TIER
          position: before
          color: '#ccc'
  '/subscriptions/webhook/{subscriptionId}/refresh':
    patch:
      tags:
        - Flight Alert API
      summary: Refresh web-hook subscription (DEPRECATED) / TIER 4
      description: " *This endpoitns is a part of Flight alert PUSH API currently powered by webhooks.  \n If you are running your own web service, you can subscribe to flights by number or airport code. \n After that, your HTTP endpoint will be called (notified) whenever the flight information gets \n updated.*\n \n Refreshes an existing web-hook subscription\n \n If the subscription had an expiration date-time set when created, this endpoint \n will extend it by the same period of time as the one it was originally created with. \n E.g., if subscription was originally created for 7 days, this endpoint will\n add extra 7 days to the expiration date-time. Note, that web-hook subscriptions\n cannot be extended beyond the sliding window of 60 days from the current date-time. \n \n If the subscription had no expiration date-time set, nothing occurs.\n \n **! WARNING OF THE UPCOMING BREAKING CHANGES !**\n \n DUE TO TRANSITIONING TO A NEW CREDIT-BASED BILLING MODEL FOR WEB-HOOK SUBSCRIPTIONS, \n\tTHIS ENDPOINT WILL BE DEPRECATED AND REMOVED LATER ON.\n\n **MIGRATION GUIDE / LEARN MORE**\n \n Read our guide at https://aerodatabox.com/flight-alert-api-2026/"
      operationId: RefreshWebhook
      parameters:
        - name: subscriptionId
          in: path
          description: Subscription ID
          required: true
          schema:
            type: string
            format: uuid
        - name: useCredits
          in: query
          description: "THIS IS A TEMPORARY MIGRATION PARAMETER FOR EASIER TRANSITION. \nDefault value: false.\nSet to true to refresh an existing web-hook subscription under the new, credit-based billing model. In this case, the call will be free of charge despite Tier 4."
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/SubscriptionContract'
      deprecated: true
      x-badges:
        - name: TIER 4
          position: before
          color: '#8a8eb2'
  /subscriptions/balance:
    get:
      tags:
        - Flight Alert API
      summary: Get web-hook subscription balance / FREE TIER
      description: "The current web-hook subscription balance information.\nThis is separate from your API marketplace quota and is used solely for billing of web-hook subscriptions.\nFor more details about how flight alert API billing works, refer to our guide at https://aerodatabox.com/flight-alert-api-2026/"
      operationId: GetBalance
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionBalanceContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/SubscriptionBalanceContract'
      x-badges:
        - name: FREE TIER
          position: before
          color: '#ccc'
  /subscriptions/balance/refill:
    post:
      tags:
        - Flight Alert API
      summary: Refill web-hook subscription balance / TIER 1
      description: "Performs refill operation on the web-hook subscription balance by the specified amount of credits.\nThis balance is separate from your API marketplace quota and is used solely for billing of web-hook subscriptions.\n\nIn the request body, you specify how many credits you want to add. This is a variable-rate endpoint and the amount of API units \ndeducted from your API quota depends on the amount of flight alerts credits requested.\nThe conversion rate is: 1 credit = 1 API unit.\n\nAdditional limits apply with regard to how many credits you can request per single refill operation and how many credits\nyou can have in your balance at any given time. These limits depend on your pricing plan (https://aerodatabox.com/pricing).\n\nFor more details about how flight alert API billing works, refer to our guide at https://aerodatabox.com/flight-alert-api-2026/"
      operationId: RefillBalance
      requestBody:
        description: 'The details of the balance refill operation, including the amount of credits to add.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionsBalanceRefillRequestContract'
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionBalanceContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/SubscriptionBalanceContract'
      x-badges:
        - name: TIER 1
          position: before
          color: '#beffe6'
  '/flights/{searchBy}/{searchParam}':
    get:
      tags:
        - Flight API
      summary: Flight Status (single day) / TIER 2
      description: "**What is the status of a specific flight?**\n**What is the historical status or schedule of a specific flight on a specific date in past or in future?**\n\nThis endpoint returns data about a specific flight  live flight status (if the flight is within the coverage and not in distant future), \nor flight schedule data otherwise.\n\nIf `dateLocal` is specified, gets data about flight(s) departing or arriving on the day specified (local time).\nOtherwise, gets data about the status of flight(s) operating on the nearest date (either in past or in future).\n\nA flight can be searched by:\n* flight number it's being operated under; or\n* ATC-callsign it's being operated under; or\n* tail-number of the aircraft it's being operated by; or\n* Mode-S 24-bit ICAO Transponder address of the aircraft it's being operated by.\n\nFlight data may include airport of arrival and departure, scheduled and actual times, flight status, type of aircraft, \ntail-number and aircraft image.\n\nSome flights may have partial data. The data may be absent for either arrival \nor departure airport or may not include live updates of time and status. Check quality markers inside the response to \ndetermine which data is available.\n\nNormally, information with live status updates and estimated/actual arrival/departure times is only available \nfor airports tracked live or with ADS-B by our system. Otherwise flight information will be with scheduled info only \nor absent. \n\nTo check if an airport is currently tracked and on which level, \nuse `/health/services/airports/{icao}/feeds` endpoint. You can also use `/health/services/feeds/{service}/airports` to get \nthe list of covered airports. \n\nRead more about coverage and flight data limitations here: https://www.aerodatabox.com/data-coverage."
      operationId: GetFlight_FlightNearest
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search flight by
          schema:
            $ref: '#/components/schemas/FlightSearchByEnum'
        - name: searchParam
          in: path
          description: "Value of the search criteria. If `searchBy` is: \n* `number`, then this field shoud be Flight number (with or without spaces, IATA or ICAO, any case formats are acceptable, e.g. KL1395, Klm 1395)\n* `callsign`, then this field should be ATC call-sign of the flight (with or without spaces, any case formats are acceptable, e.g.AFL1482, nca 008X);\n* `reg`, then this field should be Aircraft tail-number (with or without spaces or dashes, any case formats are acceptable, e.g.PH-BXO, DeMhJ);\n* `icao24`, then this field should be Aircraft ICAO 24-bit Mode-S address specified in hexadecimal format (e.g. 484161, 483EFD)."
          required: true
          schema:
            maxLength: 10
            type: string
        - name: dateLocalRole
          in: query
          description: "* If set to `Both` (default, recommended for best results) then the dateLocal parameter shall be considered as both departure and arrival date. If a flight departs OR arrives on that date (in the local timezone of the origin or destination, respectively), it will be returned.\n* If set to `Departure` then the dateLocal parameter shall be considered as departure date only. Only the flights departing on that date (in the local timezone of origin) will be returned.\n* If set to `Arrival` then the dateLocal parameter shall be considered as arrival date only. Only the flights arriving on that date (in the local timezone of destination) will be returned."
          schema:
            $ref: '#/components/schemas/FlightDirection'
        - name: withAircraftImage
          in: query
          description: "Should include aircraft image (default: false).\n\nAircraft images are being searched in external sources by certain criteria without any manual intervention. \nTherefore, false matches may be returned. Only images with licenses approved for commercial use are returned. \nPlease be advised that you may be required to mention author attribution before using the image."
          schema:
            type: boolean
            default: false
        - name: withLocation
          in: query
          description: 'Should include real-time positional data, e.g.: location, speed, altitude, etc., if available (default: false).'
          schema:
            type: boolean
            default: false
        - name: withFlightPlan
          in: query
          description: "Should include the flight plan filed with the ATC for the flight (default: false).\n\n* NOTE 1: Generally availabe to flights departing from, arriving to or crossing the mainland U.S. airspace.\n* NOTE 2: Only available on Basic and Ultra, Ultra-2 and Mega pricing plans.\n* NOTE 3: If set to true and the flight plan is found for one or more flights returned, **the request will be billed as 2 requests** against your API quota (except on Mega plan)."
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlightContract'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlightContract'
      x-badges:
        - name: TIER 2
          position: before
          color: '#aab6f8'
  '/flights/{searchBy}/{searchParam}/{dateLocal}':
    get:
      tags:
        - Flight API
      summary: Flight Status (single day) / TIER 2
      description: "**What is the status of a specific flight?**\n**What is the historical status or schedule of a specific flight on a specific date in past or in future?**\n\nThis endpoint returns data about a specific flight  live flight status (if the flight is within the coverage and not in distant future), \nor flight schedule data otherwise.\n\nIf `dateLocal` is specified, gets data about flight(s) departing or arriving on the day specified (local time).\nOtherwise, gets data about the status of flight(s) operating on the nearest date (either in past or in future).\n\nA flight can be searched by:\n* flight number it's being operated under; or\n* ATC-callsign it's being operated under; or\n* tail-number of the aircraft it's being operated by; or\n* Mode-S 24-bit ICAO Transponder address of the aircraft it's being operated by.\n\nFlight data may include airport of arrival and departure, scheduled and actual times, flight status, type of aircraft, \ntail-number and aircraft image.\n\nSome flights may have partial data. The data may be absent for either arrival \nor departure airport or may not include live updates of time and status. Check quality markers inside the response to \ndetermine which data is available.\n\nNormally, information with live status updates and estimated/actual arrival/departure times is only available \nfor airports tracked live or with ADS-B by our system. Otherwise flight information will be with scheduled info only \nor absent. \n\nTo check if an airport is currently tracked and on which level, \nuse `/health/services/airports/{icao}/feeds` endpoint. You can also use `/health/services/feeds/{service}/airports` to get \nthe list of covered airports. \n\nRead more about coverage and flight data limitations here: https://www.aerodatabox.com/data-coverage."
      operationId: GetFlight_FlightOnSpecificDate
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search flight by
          schema:
            $ref: '#/components/schemas/FlightSearchByEnum'
        - name: searchParam
          in: path
          description: "Value of the search criteria. If `searchBy` is: \n* `number`, then this field shoud be Flight number (with or without spaces, IATA or ICAO, any case formats are acceptable, e.g. KL1395, Klm 1395)\n* `callsign`, then this field should be ATC call-sign of the flight (with or without spaces, any case formats are acceptable, e.g.AFL1482, nca 008X);\n* `reg`, then this field should be Aircraft tail-number (with or without spaces or dashes, any case formats are acceptable, e.g.PH-BXO, DeMhJ);\n* `icao24`, then this field should be Aircraft ICAO 24-bit Mode-S address specified in hexadecimal format (e.g. 484161, 483EFD)."
          required: true
          schema:
            maxLength: 10
            type: string
        - name: dateLocal
          in: path
          description: 'Local date of departure or arrival (in format: YYYY-MM-DD, e.g.: 2019-08-29). Maximum/minimum allowable date is determined by the current data coverage limitations and your pricing plan.'
          required: true
          schema:
            pattern: '\d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?'
            type: string
            format: date-time
        - name: dateLocalRole
          in: query
          description: "* If set to `Both` (default, recommended for best results) then the dateLocal parameter shall be considered as both departure and arrival date. If a flight departs OR arrives on that date (in the local timezone of the origin or destination, respectively), it will be returned.\n* If set to `Departure` then the dateLocal parameter shall be considered as departure date only. Only the flights departing on that date (in the local timezone of origin) will be returned.\n* If set to `Arrival` then the dateLocal parameter shall be considered as arrival date only. Only the flights arriving on that date (in the local timezone of destination) will be returned."
          schema:
            $ref: '#/components/schemas/FlightDirection'
        - name: withAircraftImage
          in: query
          description: "Should include aircraft image (default: false).\n\nAircraft images are being searched in external sources by certain criteria without any manual intervention. \nTherefore, false matches may be returned. Only images with licenses approved for commercial use are returned. \nPlease be advised that you may be required to mention author attribution before using the image."
          schema:
            type: boolean
            default: false
        - name: withLocation
          in: query
          description: 'Should include real-time positional data, e.g.: location, speed, altitude, etc., if available (default: false).'
          schema:
            type: boolean
            default: false
        - name: withFlightPlan
          in: query
          description: "Should include the flight plan filed with the ATC for the flight (default: false).\n\n* NOTE 1: Generally availabe to flights departing from, arriving to or crossing the mainland U.S. airspace.\n* NOTE 2: Only available on Basic and Ultra, Ultra-2 and Mega pricing plans.\n* NOTE 3: If set to true and the flight plan is found for one or more flights returned, **the request will be billed as 2 requests** against your API quota (except on Mega plan)."
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlightContract'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlightContract'
      x-badges:
        - name: TIER 2
          position: before
          color: '#aab6f8'
  '/flights/{searchBy}/{searchParam}/{dateFromLocal}/{dateToLocal}':
    get:
      tags:
        - Flight API
      summary: Flight History and Schedule (range of days) / TIER 3
      description: "**What is the history or schedule of a specific flight within a specific range of dates in past or in future?**\n\nThis endpoint is the similar to the `Flight status` endpoint. \nThe only difference is that instead of returning the flight data on a single date, it returns the data over a range of dates, thus\nallowing to get insights on the flight history or schedule within the specified range.\n\nAll limitations and considerations applicable to `Flight status` endpoint are applicable to this endpoint as well."
      operationId: GetFlightHistory_FlightHistory
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search flight by
          schema:
            $ref: '#/components/schemas/FlightSearchByEnum'
        - name: searchParam
          in: path
          description: "Value of the search criteria. If `searchBy` is: \n* `number`, then this field shoud be Flight number (with or without spaces, IATA or ICAO, any case formats are acceptable, e.g. KL1395, Klm 1395)\n* `callsign`, then this field should be ATC call-sign of the flight (with or without spaces, any case formats are acceptable, e.g.AFL1482, nca 008X);\n* `reg`, then this field should be Aircraft tail-number (with or without spaces or dashes, any case formats are acceptable, e.g.PH-BXO, DeMhJ);\n* `icao24`, then this field should be Aircraft ICAO 24-bit Mode-S address specified in hexadecimal format (e.g. 484161, 483EFD)."
          required: true
          schema:
            maxLength: 10
            type: string
        - name: dateFromLocal
          in: path
          description: 'Beginning of the range of local dates of departure or arrival (in format: YYYY-MM-DD, e.g.: 2019-08-29). Maximum/minimum allowable value is determined by the current data coverage limitations and your pricing plan.'
          required: true
          schema:
            pattern: '\d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?'
            type: string
            format: date-time
        - name: dateToLocal
          in: path
          description: 'End of the range of local dates of departure or arrival (in format: YYYY-MM-DD, e.g.: 2019-08-29). Maximum/minimum allowable value is determined by the current data coverage limitations and your pricing plan. This date must be bigger than the dateFromLocal. The maximum difference between this date and dateFromLocal is limited and is determined by your pricing plan (ranging from 7 to 30 days as per moment of writing).'
          required: true
          schema:
            pattern: '\d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?'
            type: string
            format: date-time
        - name: dateLocalRole
          in: query
          description: "* If set to `Both` (default, recommended for best results) then the dateFromLocal and dateToLocal parameters shall be considered as both departure and arrival dates. If a flight departs OR arrives on dates within the specified range (in the local timezone of the origin or destination, respectively), it will be returned.\n* If set to `Departure` then the dateFromLocal and dateToLocal  parameters shall be considered as departure dates only. Only the flights departing on dates within the specified rang(in the local timezone of origin) will be returned.\n* If set to `Arrival` then the dateFromLocal and dateToLocal  parameters shall be considered as arrival dates only. Only the flights arriving on dates within the specified rangd (in the local timezone of destination) will be returned."
          schema:
            $ref: '#/components/schemas/FlightDirection'
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlightContract'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlightContract'
      x-badges:
        - name: TIER 3
          position: before
          color: '#ffb694'
  '/flights/{searchBy}/{searchParam}/dates':
    get:
      tags:
        - Flight API
      summary: Flight departure dates / TIER 2
      description: "**On which days the flight operates?** or **What is the flight schedule?**\n\nFlight can be searched by:\n* flight number it's being operated under; or\n* ATC-callsign it's being operated under; or\n* tail-number of the aircraft it's being operated by; or\n* Mode-S 24-bit ICAO Transponder address of the aircraft it's being operated by.\n\n*Returns:* Array of local departure dates in (YYYY-MM-DD) format for flights operated under speified call-sign and within the time range specified."
      operationId: GetFlightDates_FlightDatesAll
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search flight by
          schema:
            $ref: '#/components/schemas/FlightSearchByEnum'
        - name: searchParam
          in: path
          description: "Value of the search criteria. If **searchBy** is: \n* `number`, then this field shoud be Flight number (with or without spaces, IATA or ICAO, any case formats are acceptable, e.g. KL1395, Klm 1395)\n* `callsign`, then this field should be ATC call-sign of the flight (with or without spaces, any case formats are acceptable, e.g.AFL1482, nca 008X);\n* `reg`: then this field should be Aircraft tail-number (with or without spaces or dashes, any case formats are acceptable, e.g.PH-BXO, DeMhJ);\n* `icao24`, then this field should be Aircraft ICAO 24-bit Mode-S address specified in hexadecimal format (e.g. 484161, 483EFD)."
          required: true
          schema:
            maxLength: 10
            type: string
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
      x-badges:
        - name: TIER 2
          position: before
          color: '#aab6f8'
  '/flights/{searchBy}/{searchParam}/dates/{fromLocal}/{toLocal}':
    get:
      tags:
        - Flight API
      summary: Flight departure dates / TIER 2
      description: "**On which days the flight operates?** or **What is the flight schedule?**\n\nFlight can be searched by:\n* flight number it's being operated under; or\n* ATC-callsign it's being operated under; or\n* tail-number of the aircraft it's being operated by; or\n* Mode-S 24-bit ICAO Transponder address of the aircraft it's being operated by.\n\n*Returns:* Array of local departure dates in (YYYY-MM-DD) format for flights operated under speified call-sign and within the time range specified."
      operationId: GetFlightDates_FlightDatesInRange
      parameters:
        - name: searchBy
          in: path
          description: Criteria to search flight by
          schema:
            $ref: '#/components/schemas/FlightSearchByEnum'
        - name: searchParam
          in: path
          description: "Value of the search criteria. If **searchBy** is: \n* `number`, then this field shoud be Flight number (with or without spaces, IATA or ICAO, any case formats are acceptable, e.g. KL1395, Klm 1395)\n* `callsign`, then this field should be ATC call-sign of the flight (with or without spaces, any case formats are acceptable, e.g.AFL1482, nca 008X);\n* `reg`: then this field should be Aircraft tail-number (with or without spaces or dashes, any case formats are acceptable, e.g.PH-BXO, DeMhJ);\n* `icao24`, then this field should be Aircraft ICAO 24-bit Mode-S address specified in hexadecimal format (e.g. 484161, 483EFD)."
          required: true
          schema:
            maxLength: 10
            type: string
        - name: fromLocal
          in: path
          description: 'Beginning of the search range (local time, format: YYYY-MM-DD)'
          required: true
          schema:
            pattern: '\d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?'
            type: string
            format: date-time
        - name: toLocal
          in: path
          description: 'End of the search range (local time, format: YYYY-MM-DD)'
          required: true
          schema:
            pattern: '\d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?'
            type: string
            format: date-time
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
      x-badges:
        - name: TIER 2
          position: before
          color: '#aab6f8'
  '/flights/airports/{codeType}/{code}/{fromLocal}/{toLocal}':
    get:
      tags:
        - Flight API
      summary: FIDS (airport departures and arrivals) - by local time range / TIER 2
      description: "**What are current departures or arrivals at the airport?** or **What is the flight schedule at the airport?** or **What is flight history at the airport?**\n\nFlights may contain live updates with corresponding information related to the actual progress of the flight \n(including actual/estimated arrival/departure times). In this case this endpoint serves as a FIDS endpoint. \nPresense of live updates is subject to data coverage: not all airports have this coverage in our system.\n\nOtherwise flight information will be limited to scheduled only and will not be updated real-time. Much more airports\nhave this type of coverage. To check if airport is tracked and on which level, use */health/services/airports/{icao}/feeds* endpoint. \nYou can also use */health/services/feeds/{service}/airports* to get the list of supported airports for this\nor that layer of coverage. To learn more about the data coverage, refer to *https://www.aerodatabox.com/data-coverage*.\n\n*Returns*: the list of arriving and/or departing flights scheduled and/or planned and/or commenced within a specified \ntime range for a specified airport."
      operationId: GetAirportFlights
      parameters:
        - name: codeType
          in: path
          description: Type of code to search airport by (`iata` or `icao`)
          schema:
            $ref: '#/components/schemas/AirportCodesByEnum'
        - name: code
          in: path
          description: "If `codeType` is:\n* `icao`, then this field must be a 4-character ICAO-code of the airport (e.g.: EHAM, KLAX, UUEE, etc.);\n* `iata`, then this field must be a 3-character IATA-code of the airport (e.g.: AMS, SFO, LAX, etc.).\n\nFull, stripped and any case formats are acceptable."
          required: true
          schema:
            maxLength: 4
            minLength: 3
            type: string
        - name: fromLocal
          in: path
          description: 'Beginning of the search range (local time, format: YYYY-MM-DDTHH:mm)'
          required: true
          schema:
            pattern: '\d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?'
            type: string
            format: date-time
        - name: toLocal
          in: path
          description: 'End of the search range (local time, format: YYYY-MM-DDTHH:mm). Must be more than beginning of the search range by no more than 12 hours.'
          required: true
          schema:
            pattern: '\d{4}-\d{2}-\d{2}(T\d{2}:\d{2})?'
            type: string
            format: date-time
        - name: direction
          in: query
          description: 'Direction of flights: Arrival, Departure or Both (default)'
          schema:
            $ref: '#/components/schemas/FlightDirection'
        - name: withLeg
          in: query
          description: "If set to true, the result will include movement information from airport opposite in this flight leg (airport of origin for arriving flight or airport of destination for departing flight).\nIn this case, Movement property will be replaced with Departure and Arrival properties for each flight.\nDefault: false."
          schema:
            type: boolean
            default: false
        - name: withCancelled
          in: query
          description: "If set to true, result will include cancelled, divered, likely cancelled (CanceledUncertain) flights.\nDefault: true."
          schema:
            type: boolean
            default: true
        - name: withCodeshared
          in: query
          description: "If set to true, the result will include flights with all code-shared statuses.\nOtherwise, code-sharing flights will be exclued. For airports, where no information about code-share statuses\nof flights are supplied (all flights are CodeshareStatus=Unknown), complex filtering will be applied \nto determine which flights are likely to be operational (caution: false results are possible)."
          schema:
            type: boolean
            default: true
        - name: withCargo
          in: query
          description: 'If set to true, the result will include cargo flights (subject to availability).'
          schema:
            type: boolean
            default: true
        - name: withPrivate
          in: query
          description: 'If set to true, the result will include private flights (subject to availability).'
          schema:
            type: boolean
            default: true
        - name: withLocation
          in: query
          description: "If set to true, each currently active flight within the result will be populated \nwith its present real-time location, altitude, speed and track (subject to availability)."
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '503':
          description: Service Unavailable
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirportFidsContract'
            application/xml:
              schema:
                $ref: '#/components/schemas/AirportFidsContract'
      x-badges:
        - name: TIER 2
          position: before
          color: '#aab6f8'
  '/flights/airports/{codeType}/{code}':
    get:
      tags:
        - Flight API
      summary: FIDS (airport departures and arrivals) - by relative time / by current time / TIER 2
      description: "**What are current departures or arrivals at the airport?** or **What is the flight schedule at the airport?** or **What is flight history at the airport?**\n\nFlights may contain live updates with corresponding information related to the actual progress of the flight \n(including actual/estimated arrival/departure times). In this case this endpoint serves as a FIDS endpoint. \nPresense of live updates is subject to data coverage: not all airports have this coverage in our system.\n\nOtherwise flight information will be limited to scheduled only and will not be updated real-time. Much more airports\nhave this type of coverage. To check if airport is tracked and on which level, use */health/services/airports/{icao}/feeds* endpoint. \nYou can also use */health/services/feeds/{service}/airports* to get the list of supported airports for this\nor that layer of coverage. To learn more about the data coverage, refer to *https://www.aerodatabox.com/data-coverage*.\n\n*Returns*: the list of arriving and/or departing flights scheduled and/or planned and/or commenced within a time range specified \nrelatively to the current local time at the airport."
      operationId: GetAirportFlightsRelative
      parameters:
        - name: codeType
          in: path
          description: Type of code to search airport by (`iata` or `icao`)
          schema:
            $ref: '#/components/schemas/AirportCodesByEnum'
        - name: code
          in: path
          description: "If `codeType` is:\n* `icao`, then this field must be a 4-character ICAO-code of the airport (e.g.: EHAM, KLAX, UUEE, etc.);\n* `iata`, then this field must be a 3-character IATA-code of the airport (e.g.: AMS, SFO, LAX, etc.).\n\nFull, stripped and any case formats are acceptable."
          required: true
          schema:
            maxLength: 4
            minLength: 3
            type: string
        - name: offsetMinutes
          in: query
          description: 'Beginning of the search range expressed in minutes relative to the current time at the airport (default: `-120`)'
          schema:
            type: integer
            format: int64
            default: -120
        - name: durationMinutes
          in: query
          description: 'Length (duration) of the search range expressed in minutes (default: `720`)'
          schema:
            type: integer
            format: int64
            default: 720
        - name: direction
          in: query
          description: 'Direction of flights: Arrival, Departure or Both (default)'
[...]
