name: Android Build
on:
  push:
    branches: [ main, github-actions-android-build ]
    paths-ignore:
      - 'README.md'
      - 'Contributing.md'
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build gradle project
        run: ./gradlew build

      - name: Upload Debug APK
        uses: actions/upload-artifact@v5
        with:
          name: app-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk
